body {
    background-color: #FCFAEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: #A5B68D;
}

.navbar-brand {
    font-size: 3rem;
}

.btn-nav-words {
    background-color: #ECDFCC;
    font-size: 1.25rem;
}

.btn-nav-words:hover,
.btn-nav-words:active:focus,
.btn-nav-words:focus {
    background-color: #e8c99b;
}

.btn-nav-pages {
    background-color: #ECDFCC;
    font-size: 1.25rem;
}

.btn-nav-pages:hover,
.btn-nav-pages:active:focus,
.btn-nav-pages:focus {
    background-color: #e8c99b;
}

.form-control {
    background-color: #ffffff;
}

.btn-search {
    background-color: #DA8359;
    font-size: 1.25rem;
}

.btn-search:hover {
    background-color: #f4ac88;
    font-size: 1.25rem;
}

.btn-nav-words.active, .btn-nav-pages.active {
    background-color: #e8c99b;
}
